@{
    Layout = null;
    UserRepository userRepository = new UserRepository(new ApplicationDbContext());
}

@using FoodCo.Models;

@model (IEnumerable<Chat>, IEnumerable<Chat>)
@{
    var frenchDates = new System.Globalization.CultureInfo("fr-FR");
    var currentUserMessages = Model.Item1;
    var friendMessages = Model.Item2;
    IEnumerable<Chat> liste = new List<Chat>();
    if (currentUserMessages != null)
    {
        liste = liste.Concat(currentUserMessages).ToList();
    }
    if (friendMessages != null)
    {
        liste = liste.Concat(friendMessages).ToList();
    }

    ApplicationUser friend = userRepository.Get((string)Session["currentChatTarget"]);
    var isOnline = OnLineUsers.IsOnLine(friend.Id);
}


@*Each Friends*@
@if (currentUserMessages != null || friendMessages != null)
{
    if (friendMessages != null)
    {
        userRepository.MarkMessagesAsReadAsync(friendMessages);
    }
    <div class="chat-panel-header">
        @if (friend != null)
        {
            <div style="display: flex; align-items: center; gap:10px">
                @*@Helper.AvatarUserChat(friend, "UserMediumAvatar")*@
                <div class="UserMediumAvatar" style="background: url(@friend.ProfilePicturePath)" title="@friend.Name">
                </div>
                <h5>@@@friend.UserName</h5>
            </div>
        }
    </div>

    <div class="chat-panel-messages" id="chat-panel-messages">
        @*if (currentUserMessages != null)
            {
                foreach (var msg in currentUserMessages)
                {
                    <div class="sentLayout">
                        <div class="sent" title="@msg.Date.TimeOfDay.ToString()">
                            <span class="token">@msg.Message.ToString()</span>
                        </div>
                    </div>
                }
            }
            if (friendMessages != null)
            {
                foreach (var msg in friendMessages)
                {

                    <div class="receivedLayout">
                        <div class="received" title="@msg.Date.TimeOfDay.ToString()">
                            <span class="token">@msg.Message.ToString()</span>
                        </div>
                    </div>
                }
            }*@

        @if (liste != null)
        {
            var dateCounter = liste.First().Date;
            @*<div class="messageTime">
                    @dateCounter.ToString("d MMMM yyyy - HH:mm", frenchDates)
                </div>*@

            foreach (var msg in liste.OrderBy(l => l.Date.Date).ThenBy(k => k.Date.TimeOfDay))
            {

                @*if (!msg.Date.Date.Equals(dateCounter.Date))
                    {
                        <div class="messageTime">
                            @msg.Date.ToString();
                        </div>
                        dateCounter = msg.Date.Date;
                    }*@
                if (msg.Date.Date != dateCounter.Date)
                {
                    <div class="messageTime">
                        @msg.Date.ToString("d MMMM yyyy - HH:mm", frenchDates)
                    </div>
                    dateCounter = msg.Date;
                }
                else if (msg.Date.Date == dateCounter.Date && msg.Date.Hour > dateCounter.Hour)
                {
                    <div class="messageTime">
                        @msg.Date.ToString("d MMMM yyyy - HH:mm", frenchDates)
                    </div>
                    dateCounter = msg.Date.Date;
                }
                else if (msg.Date.Date == dateCounter.Date && msg.Date.Hour == dateCounter.Hour && msg.Date.Minute >= dateCounter.Minute + 30)
                {
                    <div class="messageTime">
                        @msg.Date.ToString("d MMMM yyyy - HH:mm", frenchDates)
                    </div>
                    dateCounter = msg.Date.Date;
                }


                if (msg.UserId != friend.Id)
                {
                    <div class="sentLayout">
                        <div class="sent" id="sent_@msg.Id" title="@msg.Date.ToString("HH:mm", frenchDates)">
                            <span class="token">@msg.Message.ToString()</span>
                            @*@Helper.ParseContent(msg.Message)*@
                            @if (msg.isModified)
                            {
                                <span class="token_modified">(Modifié)</span>
                            }
                        </div>

                        @if (msg.IsRead == false)
                        {
                            <div class="unreadIndicator" title="Message non lu"></div>
                        }
                    </div>
                }
                else
                {
                    <div class="receivedLayout">
                        <div class="received" title="@msg.Date.ToString("HH:mm", frenchDates)">
                            <span class="token">@msg.Message.ToString()</span>
                            @*@Helper.ParseContent(msg.Message)*@
                            @if (msg.isModified)
                            {
                                <span class="token_modified">(Modifié)</span>
                            }
                        </div>
                    </div>
                }

            }
            //if (ChatManager.Models.DB.Users.GetFriendShip((int)Session["currentChatTarget"], ChatManager.Models.OnlineUsers.GetSessionUser().Id).isTyping)
            //{
            @*<div class="receivedLayout" id="typing" style="">
                    <img src="/Content/UI-Chat/typing1.gif" style="width:40px; border-radius:8px" class="received">
                </div>*@
            //}
            @*<div style="height:40px;">&nbsp;</div>*@
        }
    </div>
}
else
{

    <div class="chat-panel-header">
        @if (friend != null)
        {
            <div style="display: flex; align-items: center; gap:10px">
                <div class="UserMediumAvatar" style="background: url(@friend.ProfilePicturePath)" title="@friend.Name">
                </div>
                <h5>@@@friend.UserName</h5>
            </div>
        }

    </div>
    <div class="chat-panel-messages" id="chat-panel-messages">
        <h4>La conversation est vide..</h4>
    </div>
}