@using FoodCo.Models;
@model IEnumerable<FoodCo.Models.Chat>

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

@*﻿@{
        ViewBag.Title = "Chat Rooms";
    }*@

<header class="main-header">
    <button class="icon-button icon fa fa-arrow-left" onclick="window.history.back()"><span class="icon"></span></button>
    <div class="main-header-content">
        <h1 class="section-title">@ViewBag.Title</h1>
    </div>
    <button class="icon-button u-margin-start-auto" aria-label="Top foodcos on"><span class="icon">✨</span></button>
</header>
<div class="chat">
    <div class="chat-container">
        @*Container d'amis*@
        <div class="chat-list-container" id="chat-list-container"
             title="Cliquez sur un de vos amis pour clavarder avec lui...">
            <!---Partial Refresh for Users Frriends List-->
        </div>

        <div>
            <div>
                @*Container for chat*@
                <div class="chat-panel" id="chat-panel" title="Cliquez sur un de vos messages pour l'éditer...">
                    <!---Partial Refresh for Users Frriends List-->
                    <div class="chat-panel-header">
                        <h4>Sélectionnez un ami...</h4>
                    </div>
                    <!-------------------------------------------->
                </div>

            </div>
            @*Send messages container/input*@
            @*Note: Show only when friend is selected*@
            <div class="chat-input-container" id="sendMessagePanel">
                <input id="message"
                       class="form-control"
                       style="width:100% !important; max-width:1000px !important;"
                       placeholder="Tapez votre message ici ..."
                       title="Les urls d'image sont prises en compte." />
                <span id="send"
                      class="icon fa fa-paper-plane pointer"
                      title="Envoyer"
                      data-placement="bottom">
                </span>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
        $(function () {
            //initTimeout(120);
            let friendsPanelUpdater = new PartialRefresh("@Url.Action("GetFriendsList")", "chat-list-container", 5, UpdateFriendsListUIEventCallbacks);
            let messagesPanelUpdater = new PartialRefresh("@Url.Action("GetChatRoom")", "chat-panel", 5, UpdateMessagesPanelUIEventCallbacks);

            let currentTargetId = "@Convert.ToString(Session["currentChatTarget"])".trim();


            if (!currentTargetId) {
                $("#sendMessagePanel").hide();
            }


            function UpdateFriendsListUIEventCallbacks() {
                $(".unselectedTarget").click(function () {
                    var userId = $(this).attr("userid");
                    ajaxActionCall("@Url.Action("SetCurrentTarget")" + "?userId=" + userId, () => { friendsPanelUpdater.refresh(true); messagesPanelUpdater.refresh(true); });
                    $("#sendMessagePanel").show();
                })
            }

            function ajaxActionCall(url, callback) {
                $.ajax({
                    url: url,
                    success: function (response) {
                        callback(response);
                    },
                    error: function (xhr, status, error) {
                        // Handle errors if needed
                        console.error("AJAX request failed:", status, error);
                    }
                });
            }

            ////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // Message sender handling
            function sendMessage() {
                var message = $('#message').val();
                $('#message').val("");

                if (message.length > 500) {
                    alert("Le message doit contenir moins de 500 caractères");
                }

                if (message != "") {
                    messagesPanelUpdater.send("@Url.Action("SendMessage")" + "?message=" + message, UpdateMessagesPanelUIEventCallbacks);
                }
            }
            $('#message').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    sendMessage();
                }
            });
            @*$('#message').focus(function (event) {
                ajaxActionCall("@Url.Action("IsTyping")");
            });
            $('#message').blur(function (event) {
                ajaxActionCall("@Url.Action("StopTyping")");
            });*@
            $(document).on('keyup', function (event) {
                if (event.key == "Escape") {
                    $("#message").val("");
                }
            });

            $(document).ready(function () {

                $("#send").click(function () {
                    sendMessage();
                });
            });

            /////////////////////////////////////////////////////////////////////////////////////////////////////////////////


            let editor = null;
            let targetedMessageContainer = null;

            function deleteMessageEditor() {
                if (editor != null) {
                    editor.remove();
                    messagesPanelUpdater.restart();
                    editor = null;
                }
                if (targetedMessageContainer != null)
                    targetedMessageContainer.show();
            }
            $(document).click(function () { deleteMessageEditor(); })

            function createMessageEditor(messageId) {
                deleteMessageEditor();
                messagesPanelUpdater.pause();
                targetedMessageContainer = $(`#sent_${messageId}`);

                messagesPanelUpdater.command("@Url.Action("GetMessage")" + "?messageId=" + messageId, function (messageText) {
                    console.log(messageText)
                    targetedMessageContainer.hide();
                    let input = $(`<textarea>${messageText.trim()}</textarea>"`);
                    let acceptCmd = $(`<span class="icon smallerIcon fa fa-check pointer" style="margin-right: 5px;" title="Modifier"></span>`);
                    let deleteCmd = $(`<span class="icon smallerIcon fa fa-trash pointer" title="Effacer ce message"></span>`);
                    editor = $(`<div class="messageEditorContainer" id="messageEditor" >`);
                    editor.append(input, acceptCmd, deleteCmd);
                    editor.insertAfter(targetedMessageContainer);
                    input.height(input[0].scrollHeight - 20);
                    input.focus();
                    input.val(input.val() + ' ');
                    input.keyup(function (event) {
                        if (event.key == "Escape") {
                            targetedMessageContainer.show();
                            deleteMessageEditor();
                            messagesPanelUpdater.restart();
                        }
                    })
                    input.click(function (event) {
                        event.stopPropagation()
                    })
                    acceptCmd.click(function () {
                        messagesPanelUpdater.edit("@Url.Action("UpdateMessage")" + "?messageId=" + messageId + "&" +`message=${input.val()}`);
                        messagesPanelUpdater.restart();
                    })
                    deleteCmd.click(function () {
                        bootbox.confirm("Effacer ce message?", function (result) {
                            if (result) {
                                messagesPanelUpdater.delete("@Url.Action("DeleteMessage")" + "?messageId=" + messageId);
                                messagesPanelUpdater.restart();
                            }
                        })
                    })
                })
            }

            function UpdateMessagesPanelUIEventCallbacks() {
                $("#typing").hide();
                $(".editMessage").hide();
                $("#chat-panel-messages").scrollTop($("#chat-panel-messages")[0].scrollHeight);


                $(".contentImage").click(function (event) {
                    event.stopPropagation();
                })
                $("a").click(function (event) {
                    event.stopPropagation();
                })
                $(".sent").click(function () {
                    var messageId = $(this).attr("id").split("_")[1];
                    createMessageEditor(messageId);
                });
            }

            @*setInterval(() => { ajaxActionCall("@Url.Action("IsTargetTyping")", UpdateTyping); }, 3000);

            function UpdateTyping(show) {
                if (show)
                    $("#typing").show();
                else
                    $("#typing").hide();
            }

            $("#send").click(function () {
                sendMessage();
            })*@
        })

    window.addEventListener('DOMContentLoaded', (event) => {

        const style = document.createElement('style');
        style.innerHTML = `

            @@media (min-width: 1005px) {
                .main-grid {
                    grid-template-columns: auto 60vw;
                    padding: 0 10px;
                    box-sizing: content-box;
                }
            }

            .main-side{
                display: none !important;
            }

        `;
            document.head.appendChild(style);
        
     });
</script>
}