@model FoodCo.Models.Post


@{
    ViewBag.Title = "Détails";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
    var _userId = Session["currentUserId"]?.ToString();

  
}

@if (Model != null)
{
    <header class="main-header">
        <button class="icon-button icon fa fa-arrow-left" onclick="window.history.back()"><span class="icon"></span></button>
        <div class="main-header-content">
            <h1 class="section-title">@ViewBag.Title</h1>
        </div>
        <button class="icon-button u-margin-start-auto" aria-label="Top foodcos on"><span class="icon">✨</span></button>
    </header>
    <ul class="post-detail" id="post-detail">
        <li class="feed-item pointer">

            <article class="foodco-item">
                <img class="profile-image" src="@(Model.User.ProfilePicturePath != null ? Model.User.ProfilePicturePath : "default-profile-image-base64")" alt="profile-image">
                <header class="foodco-item-info u-flex">
                    <a class="foodco-item-info-user" href="@Url.Action("Profile","Account",new {username = Model.User.UserName})">
                        <span class="common-title">@Model.User.Name</span>
                        <span class="usercode">@Model.User.UserName.ToLower()</span>
                    </a>
                    <time datetime="@Model.Date.ToString("yyyy/MM/dd")">
                        @Model.Date.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                    </time>
                    @if (Model.UserId == _userId)
                    {
                        <div class="feed-item-options-dropdown u-flex u-margin-start-auto" style="position: relative;">
                            <button class="icon-button" style="--icon-button-size:27px;" onclick="toggleFeedItemDropdown(this)">
                                <span class="icon fa fas fa-ellipsis-h"></span>
                            </button>
                            <ul class="feed-item-dropdown-menu feed-item-options" style="position: absolute; right: 0; top: 100%; display: none;">
                                <li class="feed-item-dropdown-item">
                                    <a href="@Url.Action("Edit", "Post", new { id = Model.Id })">Modifier</a>
                                </li>
                                <li class="feed-item-dropdown-item">
                                    @using (Html.BeginForm("Delete", "Post", FormMethod.Post, new { id = Model.Id, onsubmit = "return confirm('Êtes-vous sûr de vouloir supprimer ce post?');" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="dropdown-link">Supprimer</button>
                                    }
                                </li>
                            </ul>
                        </div>
                    }

                </header>
                <div class="common-content">
                    <p>@Model.Text</p>
                    @if (Model.Content != null)
                    {
                        <img class="content-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Content)" alt="Post content">
                    }

                    @*@if (r.ContentPath != null)
                    {
                        <img class="content-image" src="@r.ContentPath" alt="Post content">
                    }*@
                    @*@if (Model.ContentPath != null)
                    {
                        var fileExtension = System.IO.Path.GetExtension(Model.ContentPath).ToLower();
                        if (fileExtension == ".jpg" || fileExtension == ".jpeg" || fileExtension == ".png" || fileExtension == ".gif")
                        {
                            <img class="content-image" src="@Model.ContentPath">
                        }
                        else if (fileExtension == ".mp4" || fileExtension == ".webm" || fileExtension == ".ogg")
                        {
                            <video class="content-video" controls onclick="event.stopPropagation()">
                                <source src="@Model.ContentPath" type="video/@fileExtension.Substring(1)">
                            </video>
                        }
                    }*@
                </div>
                <ul class="message-options u-flex u-space-between">
                    <li class="message-options-item">
                        <label>
                            <button class="icon-button comment" onclick="event.stopPropagation(); toggleCommentBox('@Model.Id', 'recipe');"><span class="icon fa-regular fa-comment"></span></button>
                            <span class="text "></span>
                        </label>
                    </li>
                    <li class="message-options-item">
                        <label>
                            @if (Model.Reposts.Any(l => l.UserId == _userId))
                            {
                                <button class="icon-button repost" id="repost-btn-@Model.Id" onclick="event.stopPropagation(); toggleRecipeRepost('@Model.Id')"><span id="repost-text-@Model.Id" class="icon fa-solid fa-retweet reposted"></span></button>
                            }
                            else
                            {
                                <button class="icon-button repost" id="repost-btn-@Model.Id" onclick="event.stopPropagation(); toggleRecipeRepost('@Model.Id')"><span id="repost-text-@Model.Id" class="icon fa-solid fa-retweet"></span></button>
                            }
                            <span class="text">@Model.Reposts.Count()</span>
                        </label>
                    </li>
                    <li class="message-options-item">
                        <label>
                            @if (Model.Likes.Any(l => l.UserId == _userId))
                            {
                                <button class="icon-button like" id="like-btn-@Model.Id" onclick="event.stopPropagation(); togglePostLike('@Model.Id')"><span id="like-text-@Model.Id" class="icon fa-solid fa-heart liked"></span></button>
                            }
                            else
                            {
                                <button class="icon-button like" id="like-btn-@Model.Id" onclick="event.stopPropagation(); togglePostLike('@Model.Id')"><span id="like-text-@Model.Id" class="icon fa-regular fa-heart"></span></button>
                            }
                            <span class="text likes-count">@Model.Likes.Count()</span>
                        </label>
                    </li>
                    <li class="message-options-item">
                        <label>
                            <button class="icon-button" onclick="event.stopPropagation();"><span class="icon">🔗</span></button>
                            <span class="text"></span>
                        </label>
                    </li>
                </ul>
                @* Boîte de commentaires *@
                @*<div class="comment-box u-hide" id="comment-box-@Model.Id">
                    <textarea class="comment-text-area" id="commentText-@Model.Id" placeholder="Écrivez un commentaire..."></textarea>
                    <button type="button" class="common-button" onclick="submitComment('@Model.Id', 'recipe')">
                        <span class="text">Commenter</span>
                    </button>
                </div>*@
            </article>
        </li>
        
    </ul>
    @* Boîte de commentaires *@
    <section class="comment-message-box" id="comment-box-@Model.Id">
        <div class="profile-image-wrap">
            <img class="profile-image" src="@Url.Action("Photo", "Account")" alt="">
        </div>
        <div class="message-box-content">
            <textarea class="message-box-text-area" id="commentText-@Model.Id" placeholder="Écrivez un commentaire..."></textarea>
            @*@Html.TextAreaFor(p => p.Text, new { @id = "postText", @class = "message-box-text-area", @placeholder = "Postez votre réponse ?" })*@
            <button type="button" id="remove-preview" class="remove-preview-button u-hide">&times;</button>
            @*<img id="preview-content" class="content-image" src="" alt="">*@
            <p class="message-alert" id="message-alert"></p>
        </div>
        <nav class="message-box-nav u-flex">
            @*<ul class="u-flex">
                    <li>
                        <button type="button" class="icon-button" onclick="document.getElementById('file-upload').click();">
                            <span class="icon"><i class="fas fa-upload"></i></span>
                        </button>
                        <input type="file" id="file-upload" style="display: none;" />
                    </li>
                </ul>*@
            <button type="button" class="common-button u-margin-start-auto" onclick="submitComment('@Model.Id', 'post')"><span class="text">Publier</span></button>
        </nav>
    </section>
    <div style="margin-bottom:15%;" id="commentContainer">
        @*PARTIAL COMMENT*@
    </div>
}
else
{
    <p>No recipe details available.</p>
}
@section Scripts
{
    <script>
        let postPanelUpdater = new PartialRefresh("@Url.Action("_PartialComments", new RouteValueDictionary(new {id = Model.Id}))", "commentContainer", 30000, highlightMentions);
        // Appeler la fonction après que les commentaires soient chargés
        window.onload = function () {
            highlightMentions();
        };

        function highlightMentions() {
            const comments = document.querySelectorAll('.post-detail p');

            comments.forEach(comment => {
                const commentText = comment.innerHTML;
                const updatedText = commentText.replace(/(@@\w+)/g, '<span class="mention">$1</span>');

                comment.innerHTML = updatedText;
            });
        }

        function togglePostLike(postId) {
                const likeButton = document.getElementById(`like-btn-${postId}`);
                const likeText = document.getElementById(`like-text-${postId}`);
                const likesCountSpan = likeButton.nextElementSibling;

                $.ajax({
                    url: '@Url.Action("ToggleLike", "Post")',
                    type: 'POST',
                    data: { postId: postId },
                    success: function(response) {
                        if (response.success) {
                            likeText.classList.toggle('liked');
                            likeText.classList.remove('fa-regular')
                            likeText.classList.add('fa-solid')
                            likesCountSpan.innerText = response.likesCount;
                        } else {
                            likeText.classList.toggle('liked');
                            likeText.classList.remove('fa-solid')
                            likeText.classList.add('fa-regular')
                            likesCountSpan.innerText = response.likesCount;
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(`Failed to toggle like. Try again later.`);
                    }
                });
             }
        function toggleCommentBox(id, type) {
            const commentBox = document.getElementById(`comment-box-${id}`);
            if (commentBox.classList.contains('u-hide')) {
                commentBox.classList.remove('u-hide');
            } else {
                commentBox.classList.add('u-hide');
            }
        }

        function submitComment(id, type) {
            const commentText = document.getElementById(`commentText-${id}`).value;
            if (!commentText) {
                alert('Veuillez entrer un commentaire.');
                return;
            }

            let data = {
             comment: commentText
            };

            let url = '';
             if (type === 'recipe') {
                data.recipeId = id;
                 url = '@Url.Action("AddComment", "Recipe")';
            } else if (type === 'post') {
                data.postId = id;
             url = '@Url.Action("AddComment", "Post")';
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function(response) {
                    if (response.success) {
                        /*alert('Commentaire ajouté avec succès !');*/
                        document.getElementById(`commentText-${id}`).value = '';
                        /*toggleCommentBox(id, type);*/
                        postPanelUpdater.refresh()
                    } else {
                        alert('Une erreur est survenue. Veuillez réessayer.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Erreur lors de l\'ajout du commentaire :', error);
                }
            });
        }
        function submitCommentAnswer(id) {
            const commentText = document.getElementById(`commentText-${id}`).value;
            if (!commentText) {
                alert('Veuillez entrer un commentaire.');
                return;
            }

            let data = {
            postCommentId: id,
            comment: commentText
            };

            $.ajax({
                url: '@Url.Action("AnswerComment", "Post")',
                type: 'POST',
                data: data,
                success: function(response) {
                    if (response.success) {
                        /*alert('Commentaire ajouté avec succès !');*/
                        document.getElementById(`commentText-${id}`).value = '';
                        /*toggleCommentBox(id, type);*/
                        postPanelUpdater.refresh()
                    } else {
                        alert('Une erreur est survenue. Veuillez réessayer.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Erreur lors de l\'ajout du commentaire :', error);
                }
            });
        }

        function toggleFeedItemDropdown(button) {
            var dropdown = button.nextElementSibling;
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';

            document.addEventListener('click', function (event) {
                if (!button.contains(event.target) && !dropdown.contains(event.target)) {
                    dropdown.style.display = 'none';
                }
            });
        }
        

        

    </script>
}
