@{
    ViewBag.Title = "Réinitialisation de mot de passe";
}

<div class="reset-container">

    <p class="title">@ViewBag.Title</p>
    <div class="row">
        <div class="col-md-12">
            <p class="title-text">
                Si le compte existe, nous vous enverrons par courriel les instructions pour réinitialiser le mot de passe.
            </p>
        </div>
    </div>
    @if ((string)ViewBag.ConfirmationForgotEmail != null)
    {
        <div class="row">
            <div class="confirm col-md-12">
                <p class="text">
                    Nous avons envoyé un courriel à <strong>@ViewBag.ConfirmationForgotEmail</strong> avec les instructions.
                </p>
            </div>
        </div>
    }
    <div class="row">

            <a href="@Url.Action("Login", "Account", routeValues: null)" class="submit col-md-12 btn-reset btn-global main-color">Se connecter</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/account/forgotpassword.css")
}
