@model FoodCo.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="reset-container">

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="title col-md-12">
            <h2 class="title-text">Réinitialiser votre mot de passe</h2>
            
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="confirm col-md-12">
           
                <p class="text">Si le compte existe, nous vous enverrons par courriel les instructions pour réinitialiser le mot de passe.</p>
        
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Courriel" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-global main-color submit" value="Réinitialiser" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/account/forgotpassword.css")
}
