@using FoodCo.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

    <div class="login-container">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="title col-md-12">
                <h1 class="title-text">Connexion</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Nom d'utilisateur" })
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="Mot de passe" })
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 remember-container">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Se connecter" class="btn btn-global main-color submit" />
                </div>
            </div>
            <div class="options col-md-12">
                <span class="options-text">ou</span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input value="Continuer avec Google" class="btn btn-global google-submit" />
                </div>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <p class="options-text">
                @Html.ActionLink("Pas de compte ?", "Register")
            </p>


            <p class="options-text">
                @Html.ActionLink("Mot de passe oublié ?", "ForgotPassword")
            </p>
        }
    </div>
        @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/account/login.css")
}