@model List<PostComment>

@using Microsoft.AspNet.Identity;

@Styles.Render("~/Content/Site.css")
@{
    var _userId = Session["currentUserId"]?.ToString();
    Layout = null;
}


@foreach (var item in Model)
{


    var words = item.Text.Split(' ');
    var formattedText = "";

    foreach (var word in words)
    {
        if (word.StartsWith("@"))
        {
            formattedText += $"<span class='mention'>{word}</span> ";
        }
        else
        {
            formattedText += word + " ";
        }
    }

    <ul class="comment-list" id="comment-list">
        <li class="feed-item pointer">

            <article class="foodco-item">
                <img class="profile-image" src="@item.User.ProfilePicturePath">
                <header class="foodco-item-info u-flex">
                    <a class="foodco-item-info-user">
                        <span class="common-title">@item.User.Name</span>
                        <span class="usercode">@item.User.UserName.ToLower()</span>
                    </a>
                    <time datetime="@item.Date.ToString("yyyy/MM/dd")">
                        @item.Date.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                    </time>
                    <button class="icon-button u-flex u-left-margin-auto" style="--icon-button-size:27px;">
                        <span class="icon icon-arrow-down u-margin-auto"></span>
                    </button>
                </header>

                <p>@Html.Raw(formattedText)</p>

                <ul class="message-options u-flex u-space-between ">
                    <li class="message-options-item " style="justify-content: flex-start;">
                        <label>
                            <button class="icon-button comment " onclick="event.stopPropagation(); toggleCommentBox('@item.Id', 'recipe');">
                                <span class="icon fa-regular fa-comment "></span>
                            </button>
                            <span class="text"></span>
                        </label>
                    </li>
                    <li class="message-options-item">
                        <label>
                            <button class="icon-button" onclick="event.stopPropagation();"><span class="icon">🔗</span></button>
                            <span class="text"></span>
                        </label>
                    </li>
                </ul>
            </article>

            @* Boîte de commentaires *@
            <section class="comment-message-box u-hide" id="comment-box-@item.Id">
                <div class="profile-image-wrap">
                    <img class="profile-image" src="@Url.Action("Photo", "Account")" alt="">
                </div>
                <div class="message-box-content">
                    <div style="border: 1px solid var(--border-color); padding: 10px; border-radius:10px;">
                        <textarea class="message-box-text-area" id="commentText-@item.Id" placeholder="Répondre à @item.User.UserName"></textarea>
                        <p class="message-alert" id="message-alert"></p>
                        <button type="button" class="common-button u-margin-start-auto" onclick="submitCommentAnswer('@item.Id')"><span class="text">Publier</span></button>
                    </div>
                    <br>

                    <div style="gap: 10px; display:flex; flex-direction: column;">
                        @foreach (var anser in item.Comments)
                        {
                            <div id="answerContainer" class="" style="border-radius: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border: 1px solid var(--border-color) ">
                                <ul class="post-detail" id="post-detail">
                                    <li class="feed-item pointer">
                                        <article class="foodco-item">
                                            <img class="profile-image" src="@(anser.User.ProfilePicturePath != null ? anser.User.ProfilePicturePath : "default-profile-image-base64")" alt="profile-image">
                                            <header class="foodco-item-info u-flex">
                                                <a class="foodco-item-info-user">
                                                    <span class="common-title">@anser.User.Name</span>
                                                    <span class="usercode">@anser.User.UserName.ToLower()</span>
                                                </a>
                                                <time datetime="@anser.Date.ToString("yyyy/MM/dd")">
                                                    @anser.Date.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                                                </time>
                                                @if (anser.UserId == _userId)
                                                {
                                                    <div class="feed-item-options-dropdown u-flex u-margin-start-auto" style="position: relative;">
                                                        <button class="icon-button" style="--icon-button-size:27px;" onclick="toggleFeedItemDropdown(this)">
                                                            <span class="icon fa fas fa-ellipsis-h"></span>
                                                        </button>
                                                        <ul class="feed-item-dropdown-menu feed-item-options" style="position: absolute; right: 0; top: 100%; display: none;">
                                                            <li class="feed-item-dropdown-item">
                                                                <a href="@Url.Action("Edit", "Post", new { id = anser.Id })">Modifier</a>
                                                            </li>
                                                            <li class="feed-item-dropdown-item">
                                                                @using (Html.BeginForm("Delete", "Post", FormMethod.Post, new { id = anser.Id, onsubmit = "return confirm('Êtes-vous sûr de vouloir supprimer ce post?');" }))
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <button type="submit" class="dropdown-link">Supprimer</button>
                                                                }
                                                            </li>
                                                        </ul>
                                                    </div>
                                                }
                                            </header>
                                            <p>@anser.Text</p>
                                        </article>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </section>

            



            <!--<div style="margin-bottom:15%;" id="commentContainer">-->
            @*PARTIAL COMMENT*@
            <!--</div>-->
            <div id="reviewsModal" class="modal">
        </li>
    </ul>

}

@foreach (var item in Model)
{
    var words = item.Text.Split(' ');
    var formattedText = "";

    foreach (var word in words)
    {
        if (word.StartsWith("@"))
        {
            var mentionLink = Url.Action("Profile", "Account", new { username = word.TrimStart('@') });
            formattedText += $"<a href='{mentionLink}' class='mention'>{word}</a> ";
        }
        else
        {
            formattedText += word + " ";
        }
    }

    <ul class="comment-list" id="comment-list">
        <li class="feed-item ">
            <article class="foodco-item">
                <img class="profile-image" src="@item.User.ProfilePicturePath" />
                <header class="foodco-item-info u-flex">
                    <a class="foodco-item-info-user">
                        <span class="common-title">@item.User.Name</span>
                        <span class="usercode">@item.User.UserName.ToLower()</span>
                    </a>
                    <time datetime="@item.Date.ToString("yyyy/MM/dd")">
                        @item.Date.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                    </time>
                    <button class="icon-button u-flex u-left-margin-auto" style="--icon-button-size:27px;">
                        <span class="icon icon-arrow-down u-margin-auto"></span>
                    </button>
                </header>

                <p>@Html.Raw(formattedText)</p>
            </article>
        </li>
    </ul>
}
<br />
