﻿@model IEnumerable<ApplicationUser>
@using FoodCo.Models;

@{
    Layout = null;
}


@*Each Friends*@
@foreach (var user in Model)
{
    if (user.Id != OnLineUsers.GetSessionUser().Id)
    {
        if (Convert.ToString(Session["currentChatTarget"]) != user.Id)
        {
            <div class="unselectedTarget pointer" userid="@user.Id">
                @*@if (OnLineUsers.IsOnLine(user.Id))
                {
                    <p>online</p>
                }
                else
                {
                    <p>offline</p>
                }*@
                <div class="chat-user-item">
                    <div class="UserMediumAvatar" style="background: url(@user.ProfilePicturePath)" title="@user.Name"></div>
                    <p><strong>@@@user.UserName</strong></p>
                </div>
            </div>
        }
        else
        {
            <div class="selectedTarget" userid="@user.Id">
                <div class="chat-user-item">
                    <div class="UserMediumAvatar" style="background: url(@user.ProfilePicturePath)" title="@user.Name"></div>
                    <p><strong>@@@user.UserName</strong></p>
                </div>
            </div>
        }
    }
}