@using FoodCo.Models;
@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";

}
@Styles.Render("~/Content/app.css")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")

@*----------------------------------------------------------START OF MAIN------------------------------------------------------------*@
<header class="main-header">
    <button class="icon-button icon-back u-hide"><span class="icon">←</span></button>
    <div class="main-header-content">
        <h1 class="section-title">@ViewBag.Title</h1>
    </div>
    <button class="icon-button u-margin-start-auto" aria-label="Top foodcos on"><span class="icon">✨</span></button>
</header>
@{
    ApplicationDbContext db = new ApplicationDbContext();
    var users = db.Users;
}
<label class="search-box" style="margin: 10rem;">
    <span class="icon"><i class="fa fa-search"></i></span>
    <input type="text" placeholder="Rechercher" onkeyup="searchAdmins()" autocomplete="off" id="userSearchAdmin">
</label>
<div class="notification-list" id="notification-list">

    @foreach (var user in users)
    {
        <div class="notification-card">
            <div class="notification-header">
                <img src="@user.ProfilePicturePath" alt="@user.Name" class="UserMediumAvatar" />
                <div class="notification-content" style="text-align: justify-all">
                    <span>@user.UserName</span>
                    <span>
                        @if (user.IsAccountBlocked)
                        {
                            <button class="unblock-user-btn" data-user-id="@user.Id"><i class="fa-solid fa-ban" style="color: #fa0000;"></i></button>
                        }
                        @if (!user.IsAccountBlocked)
                        {
                            <button class="block-user-btn" data-user-id="@user.Id"><i class="fa-solid fa-ban" style="color: #11d45c;"></i></button>
                        }
                    </span>
                    <span>
                        <button class="delete-user-btn" data-user-id="@user.Id"><i class="fa-solid fa-trash"></i></button>
                    </span>
                </div>
            </div>
        </div>
    }
</div>

<script>

    const initialUsersList = document.getElementById('notification-list').innerHTML;

    function MessageUser(userId) {
        console.log("Message user with ID:", userId);
    }

    function BlockWebSiteUser(userId) {
        $.ajax({
            url: '@Url.Action("BlockWebSiteUser", "Admin")',
            type: 'POST',
            data: { id: userId },
            success: function (response) {
                alert('Blocked Successfully.');
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.error('Failed to block user:', error);
                alert('An error occurred. Please try again later.');
            }
        });
    }
    function UnBlockWebSiteUser(userId) {
    $.ajax({
        url: '@Url.Action("UnBlockWebSiteUser", "Admin")',
        type: 'POST',
        data: { id: userId },
        success: function (response) {
            alert('UnBlocked Successfully.');
            window.location.reload();
        },
        error: function (xhr, status, error) {
            console.error('Failed to unblock user:', error);
            alert('An error occurred. Please try again later.');
        }
    });
    }

    function DeleteUser(userId) {
    $.ajax({
        url: '@Url.Action("DeleteUser", "Admin")',
        type: 'POST',
        data: { id: userId },
        success: function (response) {
            alert('Delete Successfully.');
            window.location.reload();
        },
        error: function (xhr, status, error) {
            console.error('Failed to unblock user:', error);
            alert('An error occurred. Please try again later.');
        }
    });
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".message-user-btn").forEach(button => {
            button.addEventListener("click", function () {
                const userId = this.getAttribute("data-user-id");
                MessageUser(userId);
            });
        });

        document.querySelectorAll(".block-user-btn").forEach(button => {
            button.addEventListener("click", function () {
                const userId = this.getAttribute("data-user-id");
                BlockWebSiteUser(userId);
            });
        });

        document.querySelectorAll(".unblock-user-btn").forEach(button => {
            button.addEventListener("click", function () {
                const userId = this.getAttribute("data-user-id");
                UnBlockWebSiteUser(userId);
            });
        });

        document.querySelectorAll(".delete-user-btn").forEach(button => {
            button.addEventListener("click", function () {
                const userId = this.getAttribute("data-user-id");
                DeleteUser(userId);
            });
        });
    });
    window.addEventListener('DOMContentLoaded', (event) => {

        const style = document.createElement('style');
        style.innerHTML = `

        @@media (min-width: 1005px) {
            .main-grid {
                grid-template-columns: auto 60vw;
                padding: 0 10px;
                box-sizing: content-box;
            }
        }

        .main-side{
            display: none !important;
        }

    `;
        document.head.appendChild(style);

    });
    function searchAdmins() {
        let query = document.getElementById('userSearchAdmin').value.trim();
        let resultsContainer = document.getElementById('notification-list');
        
        if (query === "") {
            resultsContainer.innerHTML = initialUsersList;

        }
        else { 

            fetch(`/Admin/SearchUsers?query=${encodeURIComponent(query)}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.status);
                    }
                    return response.json();
                })
                .then(users => {
                    if (Array.isArray(users) && users.length > 0) {
                        let results = users.map(user => `
                        <div class="notification-card">
                            <div class="notification-header">
                                <img src="${user.ProfilePicture}" alt="${user.Username}" class="UserMediumAvatar" />
                                <div class="notification-content" style="text-align: justify;">
                                    <span>${user.Username}</span>
                                    <span>
                                        ${user.isAccountBlock
                                ? `<button class="unblock-user-btn" data-user-id="${user.userId}">
                                                        <i class="fa-solid fa-ban" style="color: #fa0000;"></i>
                                                   </button>`
                                : `<button class="block-user-btn" data-user-id="${user.userId}">
                                                        <i class="fa-solid fa-ban" style="color: #11d45c;"></i>
                                                   </button>`
                            }
                                    </span>
                                    <span>
                                        <button class="delete-user-btn" data-user-id="${user.userId}">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </span>
                                </div>
                           </div>
                        </div>
                    `).join('');
                        resultsContainer.innerHTML = results;
                    } else {
                        resultsContainer.innerHTML = '<p><strong>Aucun résultat</strong></p>';
                    }
                })
                .catch(error => {
                    resultsContainer.innerHTML = '<p><strong>Une erreur est survenue</strong></p>';
                });
        }
         
    }





</script>



<style>
    .notification-content span {
        margin-right: 30px;
    }
</style>


