@using FoodCo.Models;
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
    @model FoodCo.Models.ApplicationUser
    var _userId = Session["currentUserId"]?.ToString();
    bool following = false;
    bool followed = false;
    bool blocked = false;
    bool isBlocked = false;
    int noFollowers = 0;
    int noFollowings = 0;
    bool IsPrivate = false;
    foreach (var follower in Model.Followers)
    {
        if (follower.FollowedUserId == Model.Id && follower.FriendshipStatus == EnumFriendshipStatus.Following)
        {
            following = true;
        }

        else if (follower.FollowerId == Model.Id && follower.FriendshipStatus == EnumFriendshipStatus.Followed)
        {
            followed = true;
        }
    }
    foreach (var followings in Model.Followings)
    {
        if (followings.FollowerId == Model.Id && followings.FriendshipStatus == EnumFriendshipStatus.Following)
        {
            noFollowings++;
        }
    }
    foreach (var followers in Model.Followers)
    {
        if (followers.FollowedUserId == Model.Id && followers.FriendshipStatus == EnumFriendshipStatus.Following)
        {
            noFollowers++;
        }
    }
    foreach (var block in Model.Blocks)
    {
        if (block.BlockedId == Model.Id && block.BlockerId == _userId && block.BlockStatus == EnumBlockStatus.Blocked)
        {
            blocked = true;
            isBlocked = true;
        }


    }
    foreach (var block in Model.Blocks)
    {
        if (block.BlockerId == Model.Id && block.BlockedId == _userId && block.BlockStatus == EnumBlockStatus.Blocked)
        {
            isBlocked = true;
        }
    }
}
@if (Model.IsPrivate)
{
    IsPrivate = true;
}
else
{
    IsPrivate = false;
}
@if (Model.Id == _userId)
{
    <header class="main-header">
        <button class="icon-button icon-back u-hide"><span class="icon">←</span></button>
        <div class="main-header-content">
            <h1 class="section-title">FoodCo</h1>
        </div>
        <button class="icon-button u-margin-start-auto" aria-label="Top foodcos on"><span class="icon">✨</span></button>
    </header>
    <section class="profile-box ">
        <img src="~/Content/account/images/default_banner.png" alt="">
        @*Profile BANNER*@
        <div class="profile-box-content u-common-padding">
            <img class="profile-image" src="@Model.ProfilePicturePath" alt="">
            <h2 class="section-title">@Model.Name @Model.Lastname</h2>
            <div class="usercode u-margin-bottom">@@@Model.UserName.ToLower()</div>
            @if (Model.Id != _userId)
            {
                if (following)
                {

                    <div style="visibility:hidden" id="Following" value="Following">Abonner</div>
                    <div style="visibility:hidden" id="FollowBack" value="FollowBack">S'abonner en retour</div>
                    <button id="UnFollow" value="UnFollow" class="follow">Désabonner</button>
                }
                else if (followed)
                {

                    <div style="visibility:hidden" id="Following" value="Following">Abonner</div>
                    <div style="visibility: hidden" id="UnFollow" value="UnFollow">Désaboner</div>
                    <button id="FollowBack" value="FollowBack" class="follow">S'abonner en retour</button>
                }
                else
                {

                    <div style="visibility:hidden" id="UnFollow" value="UnFollow">Désabonner</div>
                    <div style="visibility:hidden" id="FollowBack" value="FollowBack">S'abonner en retour</div>
                    <button id="Following" value="Following" class="follow">Abonner</button>
                }
                if (blocked)
                {
                    <div style="visibility:hidden" id="Blocking" value="Blocking" class="Block">Bloquer</div>
                    <button id="unBlock" value="unBlock" class="Block">Débloquer</button>
                }
                else
                {
                    <div style="visibility:hidden" id="unBlock" value="unBlock" class="Block">Débloquer</div>
                    <button id="Blocking" value="Blocking" class="Block">Bloquer</button>
                }

                <div style="visibility:hidden" id="Public" value="Public" class="Private">Compte publique</div>
                <div style="visibility:hidden" id="Private" value="Private" class="Private">Compte privé</div>
            }
            else
            {
                if (!Model.IsPrivate)
                {
                    <button id="Private" value="Private" class="Private">Mettre Compte privé</button>
                    <div style="visibility:hidden" id="Public" value="Public" class="Private"> Compte publique</div>
                }
                else
                {
                    <button id="Public" value="Public" class="Private">Mettre Compte publique</button>
                    <div style="visibility:hidden" id="Private" value="Private" class="Private">Compte privé</div>
                }
            }
            @if (Model.Biography.IsEmpty() || Model.Biography == null)
            {
                <p class="u-margin-bottom"></p>
            }
            else
            {
                <p class="u-margin-bottom">@Model.Biography.ToString()</p>
            }
            <ul class="profile-box-info u-margin-bottom">
                <li><a class="common-link" href="https://foodco.ca" target="_blank"><span class="icon">🔗</span><span class="text">foodco.ca</span></a></li>
                <li><span class="icon">📅</span><span class="text">Date d'inscription</span></li>
            </ul>
            <ul class="profile-box-info is-list-counters">
                <li><span class="common-title">@noFollowings</span> <span class="text">Abonnements</span></li>
                <li><span class="common-title">@noFollowers</span> <span class="text">Abonnés</span></li>
            </ul>
        </div>
        <nav class="common-nav">
            <ul class="common-nav-list">
                <li class="common-nav-item"><a class="is-selected" id="publication">Publications</a></li>
                <li class="common-nav-item"><a id="aime">J'aime</a></li>
                <li class="common-nav-item"><a id="livre">Livre de recette</a></li>
            </ul>
        </nav>
    </section>
    <div id="postContainer">
    </div>
    <div id="loading" class="loading-indicator" style="display:none;">
        Loading more posts...
    </div>

}
else if (!isBlocked && !IsPrivate)
{
    <header class="main-header">
        <button class="icon-button icon-back u-hide"><span class="icon">←</span></button>
        <div class="main-header-content">
            <h1 class="section-title">FoodCo</h1>
        </div>
        <button class="icon-button u-margin-start-auto" aria-label="Top foodcos on"><span class="icon">✨</span></button>
    </header>
    <section class="profile-box ">
        <img src="~/Content/account/images/default_banner.png" alt="">
        @*Profile BANNER*@
        <div class="profile-box-content u-common-padding">
            <img class="profile-image" src="@Model.ProfilePicturePath" alt="">
            <h2 class="section-title">@Model.Name @Model.Lastname</h2>
            <div class="usercode u-margin-bottom">@@@Model.UserName.ToLower()</div>
            @if (Model.Id != _userId)
            {
                if (following)
                {

                    <div style="visibility:hidden" id="Following" value="Following">Abonner</div>
                    <div style="visibility:hidden" id="FollowBack" value="FollowBack">S'abonner en retour</div>
                    <button id="UnFollow" value="UnFollow" class="follow">Désabonner</button>
                }
                else if (followed)
                {

                    <div style="visibility:hidden" id="Following" value="Following">Abonner</div>
                    <div style="visibility: hidden" id="UnFollow" value="UnFollow">Désaboner</div>
                    <button id="FollowBack" value="FollowBack" class="follow">S'abonner en retour</button>
                }
                else
                {

                    <div style="visibility:hidden" id="UnFollow" value="UnFollow">Désabonner</div>
                    <div style="visibility:hidden" id="FollowBack" value="FollowBack">S'abonner en retour</div>
                    <button id="Following" value="Following" class="follow">Abonner</button>
                }
                if (blocked)
                {
                    <div style="visibility:hidden" id="Blocking" value="Blocking" class="Block">Bloquer</div>
                    <button id="unBlock" value="unBlock" class="Block">Débloquer</button>
                }
                else
                {
                    <div style="visibility:hidden" id="unBlock" value="unBlock" class="Block">Débloquer</div>
                    <button id="Blocking" value="Blocking" class="Block">Bloquer</button>
                }

                <div style="visibility:hidden" id="Public" value="Public" class="Private">Compte publique</div>
                <div style="visibility:hidden" id="Private" value="Private" class="Private">Compte privé</div>
            }
            else
            {
                if (!Model.IsPrivate)
                {
                    <button id="Private" value="Private" class="Private">Mettre compte privé</button>
                    <div style="visibility:hidden" id="Public" value="Public" class="Private"> Compte publique</div>
                }
                else
                {
                    <button id="Public" value="Public" class="Private">Mettre compte publique</button>
                    <div style="visibility:hidden" id="Private" value="Private" class="Private">Compte privé</div>
                }
            }
            @if (Model.Biography.IsEmpty() || Model.Biography == null)
            {
                <p class="u-margin-bottom"></p>
            }
            else
            {
                <p class="u-margin-bottom">@Model.Biography.ToString()</p>
            }
            <ul class="profile-box-info u-margin-bottom">
                <li><a class="common-link" href="https://foodco.ca" target="_blank"><span class="icon">🔗</span><span class="text">foodco.ca</span></a></li>
                <li><span class="icon">📅</span><span class="text">Date d'inscription</span></li>
            </ul>
            <ul class="profile-box-info is-list-counters">
                <li><span class="common-title">@noFollowings</span> <span class="text">Abonnements</span></li>
                <li><span class="common-title">@noFollowers</span> <span class="text">Abonnés</span></li>
            </ul>
        </div>
        <nav class="common-nav">
            <ul class="common-nav-list">
                <li class="common-nav-item"><a class="is-selected" id="publication">Publications</a></li>
                <li class="common-nav-item"><a id="aime">J'aime</a></li>
                <li class="common-nav-item"><a id="livre">Livre de recette</a></li>
            </ul>
        </nav>
    </section>
    <div id="postContainer">
    </div>
    <div id="loading" class="loading-indicator" style="display:none;">
        Loading more posts...
    </div>
}
else if (isBlocked || IsPrivate)
{
    <header class="main-header">
        <button class="icon-button icon-back u-hide"><span class="icon">←</span></button>
        <div class="main-header-content">
            <h1 class="section-title">FoodCo</h1>
        </div>
        <button class="icon-button u-margin-start-auto" aria-label="Top foodcos on"><span class="icon">✨</span></button>
    </header>
    <section class="profile-box ">
        <img src="~/Content/account/images/default_banner.png" alt="">
        @*Profile BANNER*@
        <div class="profile-box-content u-common-padding">
            <img class="profile-image" src="@Model.ProfilePicturePath" alt="">
            <h2 class="section-title">@Model.Name @Model.Lastname</h2>
            <div class="usercode u-margin-bottom">@@@Model.UserName.ToLower()</div>
            @if (Model.Id != _userId)
            {
                if (following)
                {

                    <div style="visibility:hidden" id="Following" value="Following">Abonner</div>
                    <div style="visibility:hidden" id="FollowBack" value="FollowBack">S'abonner en retour</div>
                    <button id="UnFollow" value="UnFollow" class="follow">Désabonner</button>
                }
                else if (followed)
                {

                    <div style="visibility:hidden" id="Following" value="Following">Abonner</div>
                    <div style="visibility: hidden" id="UnFollow" value="UnFollow">Désabonner</div>
                    <button id="FollowBack" value="FollowBack" class="follow">S'abonner en retour</button>
                }
                else
                {

                    <div style="visibility:hidden" id="UnFollow" value="UnFollow">Désabonner</div>
                    <div style="visibility:hidden" id="FollowBack" value="FollowBack">S'abonner en retour</div>
                    <button id="Following" value="Following" class="follow">Abonner</button>
                }
                if (blocked)
                {
                    <div style="visibility:hidden" id="Blocking" value="Blocking" class="Block">Bloquer</div>
                    <button id="unBlock" value="unBlock" class="Block">Débloquer</button>
                }
                else
                {
                    <div style="visibility:hidden" id="unBlock" value="unBlock" class="Block">Débloquer</div>
                    <button id="Blocking" value="Blocking" class="Block">Bloquer</button>
                }

                <div style="visibility:hidden" id="Public" value="Public" class="Private">Compte publique</div>
                <div style="visibility:hidden" id="Private" value="Private" class="Private">Compte privé</div>
            }

            <p class="u-margin-bottom"></p>

        </div>
        <ul class="profile-box-info u-margin-bottom">
            <li><a class="common-link" href="https://foodco.ca" target="_blank"><span class="icon">🔗</span><span class="text">foodco.ca</span></a></li>
            <li><span class="icon">📅</span><span class="text">Date d'inscription</span></li>
        </ul>
        <ul class="profile-box-info is-list-counters">
            <li><span class="common-title">0</span> <span class="text">Abonnements</span></li>
            <li><span class="common-title">0</span> <span class="text">Abonnés</span></li>
        </ul>
        <nav class="common-nav">
            <ul class="common-nav-list">
                <li class="common-nav-item"><a class="is-selected" id="publication">Publications</a></li>
                <li class="common-nav-item"><a id="aime">J'aime</a></li>
                <li class="common-nav-item"><a id="livre">Livre de recette</a></li>
            </ul>
        </nav>
    </section>
    <div class="blocked">
        Aucune Publication
    </div>
    <div class="content fa fa-camera"></div>

}
@section Scripts{
    <script>

            document.getElementById("Private").onclick = function () { PrivateClick(document.getElementById("Private")) }
            document.getElementById("Public").onclick = function () { PrivateClick(document.getElementById("Public")) }


        function PrivateClick(id) {
            if (id.value == "Private") {
                $.ajax({
                    url: '@Url.Action("Private", "Block", new {id = Model.Id})',
                    type: 'POST',
                    success: function (response) {
                        alert('Account private Successfully.');
                        window.location.reload();

                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to make user private:', error);
                        alert('An error occurred. Please try again later.');
                    }
                });
            }
            else if (id.value == "Public") {

                $.ajax({
                    url: '@Url.Action("Public", "Block", new {id = Model.Id})',
                    type: 'POST',
                    success: function (response) {
                        alert('Account public Successfully.');
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to make user public:', error);
                        alert('An error occurred. Please try again later.');
                    }
                });
            }
        }

                let feedPanelUpdater = new PartialRefresh("@Url.Action("_PartialFeedProfile", "Feed", new {UserId = Model.Id})", "postContainer", 30000);
                    document.getElementById("publication").onclick = function () { onclickSelect(document.getElementById("publication")) }
                    document.getElementById("aime").onclick = function () { onclickSelect(document.getElementById("aime")) }
                    document.getElementById("livre").onclick = function () { onclickSelect(document.getElementById("livre")) }
        function onclickSelect(id) {
            if (id == document.getElementById("publication")) {
                let feedPanelUpdater = new PartialRefresh("@Url.Action("_PartialFeedProfile", "Feed", new { UserId = Model.Id })", "postContainer", 30000);
                var element = document.getElementById("aime");
                element.classList.remove("is-selected");
                element = document.getElementById("livre");
                element.classList.remove("is-selected");
                id.classList.add("is-selected");
            }
            else if (id == document.getElementById("aime")) {
                let feedPanelUpdate = new PartialRefresh("@Url.Action("_PartialFeedLike", "Feed", new { UserId = Model.Id })", "postContainer", 30000);
                var element = document.getElementById("publication");
                element.classList.remove("is-selected");
                element = document.getElementById("livre");
                element.classList.remove("is-selected");
                id.classList.add("is-selected");
            }
            else if (id == document.getElementById("livre")) {
                let feedPanelUpdate = new PartialRefresh("@Url.Action("_PartialFeedBook", "Feed", new { userId = Model.Id })", "postContainer", 30000);
                var element = document.getElementById("publication");
                element.classList.remove("is-selected");
                element = document.getElementById("aime");
                element.classList.remove("is-selected");
                id.classList.add("is-selected");
                }
        }

        document.getElementById("Following").onclick = function () { FollowClick(document.getElementById("Following")) }
        document.getElementById("UnFollow").onclick = function () { FollowClick(document.getElementById("UnFollow")) }
        document.getElementById("FollowBack").onclick = function () { FollowClick(document.getElementById("FollowBack")) }


        function FollowClick(id) {
            if (id.value == "Following") {
                $.ajax({
                    url: '@Url.Action("Following", "Follow", new {id = Model.Id})',
                    type: 'POST',
                    success: function (response) {
                        alert('Followed Successfully.');
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to follow user:', error);
                        alert('An error occurred. Please try again later.');
                    }
                });
            }
            else if (id.value == "UnFollow") {

                $.ajax({
                    url: ' @Url.Action("UnFollow", "Follow", new {id = Model.Id})',
                    type: 'POST',
                    success: function (response) {
                        alert('Unfollowed Successfully.');
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to unfollow the user:', error);
                        alert('An error occurred. Please try again later.');
                    }
                });
            }
            else {
                $.ajax({
                    url: '@Url.Action("FollowBack", "Follow", new {id = Model.Id})',
                    type: 'POST',
                    success: function (response) {
                        alert('Followed Successfully.');
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to follow back the user:', error);
                        alert('An error occurred. Please try again later.');
                    }
                });
            }
        }


        document.getElementById("unBlock").onclick = function () { BlockClick(document.getElementById("unBlock")) }
        document.getElementById("Blocking").onclick = function () { BlockClick(document.getElementById("Blocking")) }

        function BlockClick(id) {
            if (id.value == "Blocking") {
                $.ajax({
                    url: '@Url.Action("Blocking", "Block", new {id = Model.Id})',
                    type: 'POST',
                    success: function (response) {
                        alert('Blocked Successfully.');
                        window.location.reload();

                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to block user:', error);
                        alert('An error occurred. Please try again later.');
                    }
                });
            }
            else if (id.value == "unBlock") {

                $.ajax({
                    url: '@Url.Action("UnBlock", "Block", new {id = Model.Id})',
                    type: 'POST',
                    success: function (response) {
                        alert('Unblocked Successfully.');
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to unblock the user:', error);
                        alert('An error occurred. Please try again later.');
                    }
                });
            }
        }


    </script>
}
