<!--@model FoodCo.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
@*
    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

    See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

    Uncomment the following block after you have set up two-factor authentication
*@
@*
    <dt>Phone Number:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>
*@
<!--<dt>Two-Factor Authentication:</dt>
<dd>
    <p>
        There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication.
    </p>-->
@*@if (Model.TwoFactor)
    {
        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Enabled
            <input type="submit" value="Disable" class="btn btn-link" />
            </text>
        }
    }
    else
    {
        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Disabled
            <input type="submit" value="Enable" class="btn btn-link" />
            </text>
        }
    }*@
<!--</dd>
        </dl>
    </div>
</main>-->

<header class="main-header">
    <button class="icon-button icon fa fa-arrow-left" onclick="window.history.back()"><span class="icon"></span></button>
    <div class="main-header-content">
        <h1 class="section-title">Modification de profil</h1>
    </div>
    <button class="icon-button u-margin-start-auto" aria-label="Top foodcos on"><span class="icon">✨</span></button>
</header>

<div class="profile-settings" style="margin: 20rem; overflow-y: auto; max-height: 80vh; ">
    @using (Html.BeginForm("UpdateProfile", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <label for="ProfilePicture" style="display: block; font-size: 16rem; color: #666666;">Photo de profil</label>
        <div class="form-group" style="margin-bottom: 35rem; position: relative; width: 200rem; height: 200rem; margin: auto;">

            <div style="position: relative; width: 100%; height: 100%; margin: auto;">
                <img id="profilePicturePreview" src="@Url.Content(Model.ProfilePicturePath ?? "~/Content/account/images/default_profile.png")" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%; border: 0.1rem solid #e0e0e0;" />


                <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; background: rgba(0, 0, 0, 0.5); display: flex; align-items: center; justify-content: center; opacity: 0; transition: opacity 0.3s; cursor: pointer;">
                    <span class="icon" style="font-size: 16rem; color: #ffffff;">Modifier</span>
                </div>
            </div>

            <input type="file" name="ProfilePicture" id="ProfilePicture" style="display: none;" accept="image/*" />
            <input type="hidden" id="ProfilePictureData" name="ProfilePictureData" />
        </div>

        <div class="form-group" style="margin-bottom: 8rem;">
            <label for="FirstName" style="display: block; font-size: 16rem; color: #666666; margin-bottom: 2rem;">Prénom</label>
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", style = "width: 100%; padding: 5rem; border: 0.1rem solid #ddd; border-radius: 5rem;", placeholder = "Enter your first name" })
        </div>

        <div class="form-group" style="margin-bottom: 8rem;">
            <label for="LastName" style="display: block; font-size: 16rem; color: #666666; margin-bottom: 2rem;">Nom de famille</label>
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", style = "width: 100%; padding: 5rem; border: 0.1rem solid #ddd; border-radius: 5rem;", placeholder = "Enter your last name" })
        </div>

        <div class="form-group" style="margin-bottom: 8rem;">
            <label for="Bio" style="display: block; font-size: 16rem; color: #666666; margin-bottom: 2rem;">Biographie</label>
            @Html.TextAreaFor(model => model.Biography, 3, 50, new { @class = "form-control", style = "width: 100%; padding: 5rem; border: 0.1rem solid #ddd; border-radius: 5rem; resize: vertical;", placeholder = "Parlez-nous un peu de vous... 😊" })
        </div>
        <div style="margin-bottom: 8rem;">
            <a href="https://localhost:44378/Manage/ChangePassword"
               style="width: auto; padding: 7.5rem; background-color: #ffffff; color: var(--main-color); text-decoration: none; border: 1px solid var(--main-color); border-radius: 5rem; font-size: 16rem; font-weight: bold; display: inline-block; text-align: center;">
                Modifier votre mot de passe 
            </a>
        </div>
            <button type="submit" style="width: 100%; padding: 7.5rem; background-color: var(--main-color); color: #ffffff; border: 1px solid var(--main-color); border-radius: 5rem; font-size: 16rem; font-weight: bold; cursor: pointer; margin-top: 10rem;">Enregister les modifications</button>
            }
        </div>


        @section Scripts {
            <script>
                document.querySelector('.profile-settings .overlay').addEventListener('mouseenter', function () {
                    this.style.opacity = 1;
                });
                document.querySelector('.profile-settings .overlay').addEventListener('mouseleave', function () {
                    this.style.opacity = 0;
                });

                document.querySelector('.profile-settings .overlay').addEventListener('click', function () {
                    document.getElementById('ProfilePicture').click();
                });

                document.getElementById('ProfilePicture').addEventListener('change', handleImageUpload);

                function handleImageUpload(event) {
                    const file = event.target.files[0];
                    if (!file) return;

                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const img = new Image();
                        img.onload = function () {
                            const canvas = document.createElement('canvas');
                            canvas.width = 500;
                            canvas.height = 500;
                            const ctx = canvas.getContext('2d');
                            ctx.drawImage(img, 0, 0, 500, 500);
                            const resizedImageDataUrl = canvas.toDataURL('image/jpeg', 0.8);
                            document.getElementById('profilePicturePreview').src = resizedImageDataUrl;
                            document.getElementById('ProfilePictureData').value = resizedImageDataUrl;
                        };
                        img.src = e.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            </script>
        }
