<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FoodCo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://kit.fontawesome.com/8629bd9561.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-light">
        <div class="container">
            @Html.ActionLink("FoodCo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-md-inline-flex justify-content-end">
                <ul class="navbar-nav">
                    <li>@Html.ActionLink("Recettes", "Index", "Feed", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("À Propos", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                    @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
        <div class="container body-content">
            @RenderBody()
            @*<hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/UserDropdown.js"></script>
</body>
</html>
