@using Microsoft.AspNet.Identity
@using FoodCo.Models;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li>
                <div class="profile">
                    <div class="img-box">

                        <img src="@User.Identity.GetProfilePicturePath()" alt="Profile Picture" class="profile-picture" />
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a class="nav-link" href="@Url.Action("Profile", "Account", new { username = User.Identity.GetUserName() })"><i class="fa-solid fa-user" title="Profil"></i>&nbsp;Profil</a></li>
                            <li><a class="nav-link" href="@Url.Action("Index", "Manage")"><i class="fa-solid fa-cog" title="Paramètres"></i>&nbsp;Paramètres</a></li>
                            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa-solid fa-arrow-right-from-bracket" title="Déconnexion"></i>&nbsp;Déconnexion</a></li>
                        </ul>
                    </div>
                </div>
            </li>


            <!--<li>
                <img src="@Url.Action("Photo", "Account")" alt="Profile Picture" class="profile-picture" />
            </li>
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
            <li>
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">-->
                    @*Log off*@
                    <!--<i class="fa-solid fa-arrow-right-from-bracket" title="Déconnexion"></i>
                </a>
            </li>-->
        </ul>
    }
}
else
{
    <div class="navbar-nav navbar-right navbar-btns ">
        <a href="@Url.Action("Register", "Account")" class="btn-register btn-global main-color">S'inscrire</a>
        <a href="@Url.Action("Login", "Account")" class="btn-login btn-global gray-color">Connectez-vous</a>

    </div>
}